
/*    --------------------- Drop-Down Menu/ Button --------------------- */

html {
  
}

h1 {
  background-color:tomato;
  height: 90px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}


h3 {
  color:tomato;
}
.img1 {

  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.img2 {
  padding-bottom: 50px;
  
}
body {
  text-align: center;
}

p {
  font-style: ;
  font-size: 20px;
  

}

.foodData {
  border-radius: 40px;
  border-color: rgb(133, 221, 133);
}
